<div class="about-main">
  <h2>What's Happy</h2>
  <p>
    Write down 3 happies everyday.
    Even if bad day today was, you can find 3 happies at least!
  </p>
  <figure>
    <blockquote>
      The positive psychology exercise 3 Good Things asks you to focus on three good things that happened to you on a given day. In the beginning, you might find it difficult to come up with something that you consider “good enough” to be on your list – that’s perfectly normal and no reason for self-criticism. You will find that it gets easier over time and that once you think of one good thing, more good things tend to follow. It’s best to do the exercise daily for 10 minutes until it becomes a habit.

    For each good thing, give it a title (a sentence that summarizes what happened), then write down as much detail as possible. Try to recall how you felt during the event and consider how it makes you feel now. The final step is to write about how this event came about – what caused it?
    </blockquote>
    <figcaption>
      — Dineke Kroesbergen, <cite><a href="https://positivepsychlopedia.com/tag/3-good-things/" class="quote_link" target="_blank">(https://positivepsychlopedia.com/tag/3-good-things/)</cite>
    </figcaption>
  </figure>

</div>
