<div class="top-main">
    <h1>Only 3 steps you will be happy</h1>
    <ul>
        <li>Write down a thing you’re grateful for</li>
        <li>Write down a thing you’re grateful for</li>
        <li>Write down a thing you’re grateful for</li>
    </ul>
    <p>That's it</p>
    <%= link_to "Try it!", "/" %>
</div>