<div class="main posts-index">
  <ul class="container">
    <% @posts.each do |post| %>
      <li class="posts-index-item">
        <%= link_to post.content, "/posts/#{post.id}" %>
      </li>
    <% end %>
  </ul>
</div>