<div class="main posts-index">
    <div class="container">
        <% @days.each do |d| %>
        <h2><%= d.date %></h2>
        <ul class="posts-index-day">
            <% posts = d.posts %>
            <% posts.each do |post| %>
                <li class="posts-index-item"><%= link_to post.content, "/posts/#{post.id}" %></li>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>