<div class="main posts-index">
    <div class="container">
    <%= link_to "Post Happy", "/days/new", class: "btn btn-primary post-btn" %>
        <% @days.each do |d| %>
        <h2 class="post-date-header"><%= d.date %></h2>
        <%= d.star(my_posts(d.id)).html_safe %>
        <ul class="posts-index-day">
            <% posts = my_posts(d.id) %>
            <% posts.each do |post| %>
                <li class="posts-index-item"><%= link_to post.content, "/posts/#{post.id}" %></li>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>
