<div class="main posts-new">
    <div class="container">
        <%= form_tag "/posts/create", class: "form posts-new" do %>
            <textarea name="content"></textarea>
            <input type="submit" value="Post">
        <% end %>
    </div>
</div>