<%= form_tag "/posts/create" do %>
  <div class="form-group">
    <textarea name="content" class="form-control" rows="5"></textarea>
    <input type="hidden" name="day_id" value="2">
    <input type="submit" value="Post" class="btn btn-primary">
  </div>
<% end %>
